# Database Configuration
DB_URL=jdbc:mysql://your_host:your_port/your_db_name?useSSL=true&serverTimezone=UTC
DB_USERNAME=your_username
DB_PASSWORD=your_password

# Mail Configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
