# Database Configuration
DB_URL=jdbc:mysql://<host>:<port>/defaultdb?useSSL=true&allowPublicKeyRetrieval=true&verifyServerCertificate=false&serverTimezone=UTC
DB_USERNAME=<db_username>
DB_PASSWORD=<db_password>

# Mail Configuration (Gmail App Password)
MAIL_USERNAME=<email@gmail.com>
MAIL_PASSWORD=<app_password>

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=<cloud_name>
CLOUDINARY_API_KEY=<api_key>
CLOUDINARY_API_SECRET=<api_secret>

# Redis Configuration
REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>
REDIS_PASSWORD=<redis_password>
REDIS_SSL=true
